.clearButton {
  background-color: rgba(252, 103, 92, 0.855);
  width: 200px;
  height: 40px;
  font-style: 18px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* margin: 0 auto; */
  cursor: pointer;
}
.clearButton:hover {
  background-color: rgba(255, 79, 66, 0.855);
}
